<!-- templates/restaurants.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline my-2 my-lg-0" method="get" action="/restaurants/">
                <input class="form-control mr-sm-2" type="search" name="location" placeholder="場所で検索" aria-label="Location Search">
                <input class="form-control mr-sm-2" type="search" name="cuisine_type" placeholder="料理のタイプで検索" aria-label="Cuisine Type Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        {% for restaurant in restaurants %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ restaurant.image_url }}" alt="{{ restaurant.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">名前: {{ restaurant.name }}</h5>
                    <p class="card-text">場所: {{ restaurant.location }}</p>
                    <p class="card-text">料理のタイプ: {{ restaurant.cuisine_type }}</p>
                    <p class="card-text">席数: {{ restaurant.number_of_seats }}</p>
                    <p class="card-text">平均予算: {{ restaurant.average_price }}</p>
                    <a href="#" class="btn btn-primary">予約する</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
